<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings file="SlackLogger.secrets.config">
		<add key="Slack.WebhookUrl" value="{secret}"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<log4net>
		<root>
			<level value="ALL"/>
			<appender-ref ref="SlackLogAppender"/>
		</root>
		<appender name="SlackLogAppender" type="SlackLogger.Log4Net.SlackLogAppender, SlackLogger.Log4Net"/>
	</log4net>
</configuration>